ul.placeListItems, .tabs ul {
    margin-left: 0 !important;
}

li.placeListItem {
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px dotted #999999;
}

.dottedBorderRight {
    border-right: 1px dotted #999999;
}

.dottedBorderBottom {
    padding-bottom:1rem;
    border-bottom: 1px dotted #999999;
}

.editMap {
    height: 50vh;
    width: 100%;
    margin:0;
    padding:0;
    position:relative;
}

.centerMarker {
    height:10px;
    width:10px;
    margin-top:-5px;
    margin-left:-5px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top:50%;
    left:50%;
    z-index: 999999;
}